@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main{
  @apply h-screen;
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/da705069-91b5-41cb-86f3-86a585c6fdf3/bvlatuR/std/2880x1800/MX-Hero-Desktop);
  background-size: cover;
  background-position: center;
}

.logo {
  @apply lg:w-48 pl-4 pt-1;
}

.nav{
  @apply flex w-full h-8 pt-4 font-semibold text-sm uppercase text-gray-800 ;
  letter-spacing: 0px;
}

.middle-menu{
  @apply invisible xl:visible text-center flex-auto;
}

.middle-menu a{
  @apply hover:text-white;
}

.right-menu{
  @apply pr-4 space-x-5 right-0 flex align-middle;
}

.middle-menu>div{
  @apply hidden xl:block space-x-5;
}

.hamburger{
  @apply w-4 h-4 mt-0.25;
}

.header{
  @apply mt-11 md:mt-30 text-center;
}

.header .title{
  @apply text-4.5xl font-medium;
}

.header .subtitle{
  @apply -mt-1;
}

.items{
  @apply absolute bottom-20 md:bottom-6 w-full flex flex-wrap justify-center;
}

.item{
  @apply text-white w-32 md:w-40 text-center;
}

.item h1{
  @apply text-2xl md:text-3xl;
}

.item span{
  @apply text-xs;
}

.item h1 span {
  @apply text-sm md:text-2xl -ml-1 font-semibold;
}

.button-item{
  @apply text-white ml-2 mr-4 md:m-0 md:w-40 w-full text-center sm:flex-nowrap
}

.rounded-button{
  @apply text-xs rounded-3xl border-3 border-white p-2 uppercase mt-3 md:mt-1.5  ml-3 font-medium;
}